

body{
    background-color: #403939;
}

.calculator{
    border-radius: 10px;
    background-color: aqua;
    width: 450px;
}
.display{
    height: 200px;
    background-color: rgb(14, 66, 26);
}

.display__out{
    background-color: #2e2323;
    height: 40px;
    color: #dfdfdf;
    font-size: 30px;
}

button{
    width: 90px;
    height: 90px;
    font-size: 40px;
}
